.containerText {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.containerText>h3 {
    font-size: 36px;
    color: #083C64;
}

.lista {
    list-style-type: disc;
    margin-top: 0;
}

.lista>li {
    font-size: 24px;
}


.backgroundImage {
    height: auto;
    position: relative;
    z-index: 1;
}

.page {
    height: fit-content;
}

.img {
    display: flex;
    flex-direction: column;

}

.img2 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.img2>img {
    width: 266px;
    height: 475px;
}

.img>a {
    text-decoration: none;
    color: black;
}

.containerInfo {
    display: flex;
    flex-direction: row;
    gap: 15rem;
}

.img2>a {
    text-decoration: none;
    color: black;
}

.home {
    display: flex;
    flex-direction: column;
}